@font-face {
    font-family: 'DAGGERSQUARE OBLIQUE';
    src: url('../../fonts/DAGGERSQUARE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} 

.admin-player-info-main-container {
    background-color: #000000;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.admin-player-photo-info-page {
    width: 100%;
    height: 120px;
    position: relative;
}


.admin-player-photo-upload{
    display: flex;
    width:100%;
    height:120px;
    background-color: #bd0000;
    text-align: center;
    font-size: 50px;
    color: #000000;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif; 
    padding-left: 30px;
    padding-top: 5px;
}
.admin-player-photo-upload.uploaded {
    background-color: #00FF00;
}




.admin-first-row-player-info {
    width: 100%;
    height: 700px;
    background-color: #0e0e0e;
    position: relative;
    z-index: 1;
    display: flex;
}

.admin-first-row-player-info-left {
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.admin-first-row-player-info-left h1{
    font-size: 20px;
    color: #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
}

.enter-player-first-name-for-playerinfo{
    width:700px;
    height:35px;
    color: #ffffff;
    background-color: #0e0e0e;
    border: 1px solid #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.enter-player-last-name-for-playerinfo {
    width: 500px;
    height: 35px;
    color: #ffffff;
    background-color: #0e0e0e;
    border: 1px solid #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.enter-player-number-for-playerinfo {
    width: 100px;
    height: 135px;
    color: #ffffff;
    font-size: 50px;
    background-color: #0e0e0e;
    border: 1px solid #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.enter-player-disc-for-playerinfo {
    width: 700px;
    height: 225px;
    color: #ffffff;
    font-size: 15px;
    background-color: #0e0e0e;
    border: 1px solid #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}


.admin-first-row-player-info-right {
    width: 50%;
    height: 700px;
}

.admin-player-form-outline {
    width: 100%;
    height: 900px;
    border: 1px solid #ff0000;
    transform: scale(0.7);
    position: relative;
    bottom: 90px;
    justify-content: center;
    align-items: center;
    left: 60px;
}

.admin-player-crop-photo-upload{
    justify-content: center;
    align-items: center;
    display: flex;
    width:720px;
    top:15px;
    left:15px;
    height: 870px;
    position: relative;
    background-color: #eeeeee;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 50px;
    text-align: center;
}
.admin-player-crop-photo-upload h1{
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.admin-player-crop-photo-upload.uploaded {
    background-color: #00FF00;
    color: #000000;
}

.admin-second-row-player-info {
    width: 100%;
    height: 400px;
    background-color: #0e0e0e;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-second-row-player-info h1 {
    text-align: left;
    font-size: 50px;
    padding-left: 50px;
    color: #bd0000;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    position: relative;
    right: 480px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.admin-player-info-table {
    width: 1400px;
    outline: 1px solid #ffffff;
    position: relative;
    right: 25px;
    color: #ffffff;
    height: 200px;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.admin-player-info-table td {
    outline: 1px solid #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.no-of-matches{
    position: relative;
    background-color: #0e0e0e;
    border:none;
    outline: none;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    width:200px;
    height: 50px;
}

.admin-clubs-played-for {
    width: 100%;
    height: 400px;
    background-color:#0e0e0e;
}

.admin-clubs-played-for h1 {
    width: 600px;
    font-size: 50px;
    color: #bd0000;
    margin-left: 30px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
}
/* /////////test------------------------------------------------ */
.admin-player-crop-club-upload {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    top: 62px;
    margin-right: 30px;
    left: 15px;
    height: 100px;
    position: relative;
    background-color: #eeeeee;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
         -webkit-box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
         -moz-box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
}

.club-logo-hidden-upload{
    display: none;
}



/* ////saaaaaaaaaaaaaaaaaaaaaaaaaaaaatets */


.add-more-player-club{
        width: 100px;
        background-color: #bd0000;
        border: none;
        height: 100px;
        position: relative;
        top: 50px;
        margin: 10px;
        font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
        font-size: 15px;
        text-align: center;
        transition: transform 0.3s ease;
        box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.75);
}

.add-more-player-club:hover {
    transform: scale(0.9);
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
    -webkit-box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
}

.admin-trophy-player-history {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 20px;
    border-top: 1px solid #ffffff;
    background-color: #0e0e0e;
}

.admin-trophy-player-history h1 {
    color: #bd0000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
}

.trophy-pair {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.trophy-pair input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
    color: #bd0000;
    width: 350px;
    background-color:#0e0e0e ;
}

.add-more-trophy {
    width: 300px;
    background-color: #bd0000;
    border: none;
    height: 35px;
    position: relative;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 15px;
    text-align: center;
    box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.add-more-trophy:hover {
    transform: scale(0.9);
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
            -webkit-box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
            -moz-box-shadow: 3px 5px 5px 0px rgba(255, 0, 0, 0.75);
}