@font-face {
    font-family: 'DAGGERSQUARE OBLIQUE';
    src: url('../../fonts/DAGGERSQUARE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.create-team-mainContainer {
    background-color: #000000;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.create-team-subContainer{
    width:100%;
    height:900px;
    background-color: #0e0e0e;
    display: flex;
}

.create-player-divison-left{
    width:70%;
    height:900px;
    display: flex;
    justify-content: center;
}

.create-admin-player-card{
    width:95%;
    margin-top: 65px;
    border: 1px solid #fff;
    background-color: #000000;
    height:800px;
    padding: 10px;
}


.create-admin-player-card h1{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.create-admin-player-card select{
    width:200px;
    height:40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    box-shadow: 3px 3px 2px 0px rgba(255, 0, 0, 0.75);
        -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 2px 0px rgba(255, 0, 0, 0.75);
}

.form-admin-select-button{
    width:70px;
    height:40px;
    margin-left: 20px;
    background-color: #bd0000;
        border: 1px solid #ffffff;
        box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 16px;
    transition: transform 0.2s ease;
}

.form-admin-select-button:focus{
    transform: scale(0.91);
    box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.75);
}

.which-form-to-choose{
    width: 100%;
    background: rgb(0, 0, 0);
    height:670px;
    border: 1px solid #ffffff;
    overflow: auto;
}



/* RIGHT SIDE EDIT-------------------------------------------------- */
.create-player-divison-right{
    width:30%;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    height: 900px;
}

.admin-side-video{
    margin-top: 65px;
    width:100%;
}