@font-face {
    font-family: 'DAGGERSQUARE OBLIQUE';
    src: url('../../fonts/DAGGERSQUARE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.create-player-basic-from {
    background-color: #000000;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-statrs-here h1 {
    font-size: 40px;
    color: #ffffff
}


.enter-teamName {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.enter-teamName h1 {
    font-size: 18px;
    letter-spacing: 2px;
}

.enter-team-name-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    left: 85px;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff
}

/* team photo div---------------------------------- */
.team-photo-div {
    margin-top: 50px;
    position: relative;
    right: 370px;
}

.team-photo-div h1 {
    font-size: 18px;
    letter-spacing: 2px;
}

.team-photo-div-upload {
    width: 200px;
    height: 30px;
    background-color: #bd0000;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    position: relative;
    overflow: hidden;
}

.custom-file-input {
    display: block;
    margin-top: 10px;
    background-color: #bd0000;
    width: 350px;
    position: relative;
    left: 70px;
    height: 30px;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    transition: transform 0.3s ease;
}

.custom-file-input:hover {
    transform: scale(0.9);
}

input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

/* TEAM DESC STARTS HERE-------------------------------------- */
.enter-teamDesc {
    margin-top: 50px;
    position: relative;
    right: 345px;
}

.enter-teamDesc h1 {
    font-size: 18px;
    letter-spacing: 2px;

}

.enter-team-Desc-textarea {
    width: 800px;
    padding: 10px;
    position: relative;
    left: 280px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    background-color: #000000;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 1.5px;
    resize: vertical;
}

.formation-dropdown select {
    width: 200px;
    position: relative;
    right: 375px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    box-shadow: 3px 3px 2px 0px rgba(255, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 0, 0, 0.75);
}

/* TEAM DESC STARTS HERE-------------------------------------- */
.enter-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.enter-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 70px;
}

.enter-trophy-name-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    left: 85px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

/*LA LIGA form-------------------------------------- */
.laliga-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.laliga-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 25px;
}

/*LA LIGA form-------------------------------------- */
.bundesliga-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.bundesliga-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 45px;
}

/* UCL STARTS HERE-------------------------------------- */
.ucl-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.ucl-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 83px;
}

/* UEL STARTS HERE-------------------------------------- */
.uel-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.uel-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 65px;
}

/* UECL STARTS HERE-------------------------------------- */
.uecl-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.uecl-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 87px;
}

/* supercup STARTS HERE-------------------------------------- */
.supercup-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.supercup-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 70px;
}

/* CARBAO STARTS HERE-------------------------------------- */
.carbao-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.carbao-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 50px;
}

/* LA LIGA COPA DEL REY STARTS HERE-------------------------------------- */
.copa-delrey-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.copa-delrey-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 55px;
}

/* BUNDESLIGA DFB POKAL STARTS HERE-------------------------------------- */
.dfbpokal-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.dfbpokal-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 40px;
}

/* LIGUE 1 COUPE de FRANCE STARTS HERE-------------------------------------- */
.cdfrance-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.cdfrance-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 75px;
}

/* FA CUP STARTS HERE-------------------------------------- */
.facup-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.facup-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 25px;
}

/* LA LIGA FORM SPANISH SUPER CUP STARTS HERE-------------------------------------- */
.spanishSUper-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.spanishSUper-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 85px;
}

/* Bundesliga FORM DFL-SUPERCUP STARTS HERE-------------------------------------- */
.dflsuper-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.dflsuper-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 65px;
}

/* Ligue 1 FORM TROPHEE DES CHAMPIONS STARTS HERE-------------------------------------- */
.frenchsuper-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.frenchsuper-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 60px;
}

/* CLUB WC STARTS HERE-------------------------------------- */
.clubwc-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.clubwc-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 65px;
}

/* ShIELD STARTS HERE-------------------------------------- */
.Cshield-trophy-count {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.Cshield-trophy-count h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 80px;
}

/* //-----playe names dna photos */

.player-details-form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 98%;
    position: relative;
    left: 5px;
    height: auto;
    background-color: #181818;
    border: 1px solid #bd0000;
}

.create-player-details-row-1 {
    width: 98%;
    position: relative;
    left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
    display: flex;
    border-bottom: 1px solid #ffffff;
}

.create-player-details-row-1-left {
    width: 50%;
    height: 250px;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: start;
}

.enter-playername-1 {
    position: relative;
    text-align: left;
    margin-top: 10px;
}

.enter-playername-1 h1 {
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
}

.enter-playername-1-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff
}

.x-upload {
    display: block;
    margin-top: 10px;
    background-color: #bd0000;
    width: 250px;
    position: relative;
    top: 20px;
    height: 30px;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    transition: transform 0.3s ease;
}

.custom-file-input:hover {
    transform: scale(0.9);
}

input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    width: 250px;
    height: 30px;
    top: 0;
    cursor: pointer;
}

.enter-player-num {
    position: relative;
    margin-top: 40px;
    text-align: left;
    white-space: nowrap;
}

.enter-player-num h1 {
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
}

.enter-player-num-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff
}



/* Right side of first column---------------------------------------- */
.create-player-details-row-1-right {
    width: 50%;
    height: 250px;
}

.enter-playername-1 {
    position: relative;
    text-align: left;
    margin-top: 10px;
}

.enter-playername-1 h1 {
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
}

.enter-playername-1-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff
}

.x-upload {
    display: block;
    margin-top: 10px;
    background-color: #bd0000;
    width: 250px;
    position: relative;
    top: 20px;
    height: 30px;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    transition: transform 0.3s ease;
}

.custom-file-input:hover {
    transform: scale(0.9);
}

input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    width: 250px;
    height: 30px;
    top: 0;
    cursor: pointer;
}

.enter-player-num {
    position: relative;
    margin-top: 40px;
    text-align: left;
    white-space: nowrap;
}

.enter-player-num h1 {
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
}

.enter-player-num-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff
}

/* ROWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW 2-------------------------------.. */

.enter-managerName {
    margin-top: 20px;
    position: relative;
    right: 380px;
}

.enter-managerName h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 20px;
}

.enter-manager-name-input {
    width: 350px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    left: 85px;
    background-color: #000000;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff
}

/* team photo div---------------------------------- */
.team-manager-div {
    margin-top: 50px;
    position: relative;
    right: 370px;
}

.team-manager-div h1 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 20px;
}

.team-photo-div-upload {
    width: 200px;
    height: 30px;
    background-color: #bd0000;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    position: relative;
    overflow: hidden;
}

.custom-file-input {
    display: block;
    margin-top: 10px;
    background-color: #bd0000;
    width: 350px;
    position: relative;
    left: 70px;
    height: 30px;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    transition: transform 0.3s ease;
}

.custom-file-input:hover {
    transform: scale(0.9);
}

input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

/* TEAM DESC STARTS HERE-------------------------------------- */
.enter-managerDesc {
    margin-top: 50px;
    position: relative;
    right: 345px;
}

.enter-managerDesc h1 {
    font-size: 18px;
    position: relative;
    left: 20px;
    letter-spacing: 2px;

}

.enter-team-Desc-textarea {
    width: 800px;
    padding: 10px;
    position: relative;
    left: 280px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    background-color: #000000;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 1.5px;
    resize: vertical;
}

.create-team-button {
    width: 170px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #bd0000;
    border: 1px solid #ffffff;
    box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(255, 255, 255, 0.75);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 16px;
    transition: transform 0.2s ease;
}

.create-team-button:focus {
    transform: scale(0.91);
    box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.75);
}