@font-face {
    font-family: 'DAGGERSQUARE OBLIQUE';
    src: url('../fonts/DAGGERSQUARE.otf') format('opentype');
    /* Add more src lines for additional font formats if necessary */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}


.homepage-container{
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgb(53, 53, 53);
}



.fixed-photo {
    background-image: url('../images/gift.gif');
    background-size: cover;
    height: 500px;
    position: sticky;
    top:50px;
    /* Adjust height as needed */
}

.hometestcontainer2 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    position: relative;
    background-color: black;
}

.homecard1 {
    padding: 20px;
    margin-right: 20px;
    border:none;
    width:290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom:100px;
    transition: transform 0.3s;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
}

.homecard1 p {
    font-size: 40px;
    position: relative;
    bottom: 396px;
    z-index: -1;
    color: rgb(0, 0, 0);
}

.homecard1 p span {
    position: relative;
    bottom:30px;
    display: block;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    /* Each span on a new line */
}

.homecard1 p .player-text {
    font-size: 70px;
    color: red;
}

.homecard1:hover {
    transform: scale(1.05);
}

.playerimageforhome{
width:330px;
height:440px;
position: relative;
right:20px;
bottom:20px;
transition: opacity 0.5s;
}

.homecard1:hover .playerimageforhome {
    opacity: 0.2;
}

/* card2-------------------------------------------------- */
.homecard2 {
    padding: 20px;
    margin-right: 20px;
    border: none;
    width: 290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
}

.homecard2 p {
    font-size: 40px;
    position: relative;
    bottom: 396px;
    z-index: -1;
    color: rgb(0, 0, 0);
}

.homecard2 p span {
    position: relative;
    bottom: 30px;
    display: block;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    /* Each span on a new line */
}

.homecard2 p .player-text {
    font-size: 70px;
    color: red;
}

.homecard2:hover {
    transform: scale(1.05);
}

.fixtureimageforhome {
    width: 330px;
    height: 440px;
    position: relative;
    right: 20px;
    bottom: 20px;
    transition: opacity 0.5s;
}

.homecard2:hover .fixtureimageforhome {
    opacity: 0.2;
    /* Reduce opacity when hovered */
}




/* container 3=-p-------------------------------------- */

.homecard3 {
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
    width: 290px;
    border: none;
    height: 400px;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
}

.homecard3:hover{
    transform: scale(1.05);
}

.teamimageforhome {
    width: 122%;
    border-radius: 40px;
    position: relative;
    right: 22px;
    bottom: 20px;
}


/* card 3--------------------------------------------------- */

.homecard3 {
    padding: 20px;
    margin-right: 20px;
    border: none;
    width: 290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
}

.homecard3 p {
    font-size: 40px;
    position: relative;
    bottom: 396px;
    z-index: -1;
    color: rgb(0, 0, 0);
}

.homecard3 p span {
    position: relative;
    bottom: 30px;
    display: block;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    /* Each span on a new line */
}

.homecard3 p .player-text {
    font-size: 70px;
    color: red;
}

.homecard3:hover {
    transform: scale(1.05);
}

.teamimageforhomex {
    width: 330px;
    height: 440px;
    position: relative;
    right: 20px;
    bottom: 20px;
    transition: opacity 0.5s;
}

.homecard3:hover .teamimageforhomex {
    opacity: 0.2;
    /* Reduce opacity when hovered */
}



/* container 3=-p-------------------------------------- */

.hometestcontainer3 {
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

.hometestcontainer3 p {
    font-size: 50px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(circle, #000000, #bd0000);
    font-weight: bolder;
    display: inline-block;
}

.fifFixtureCard {
    margin: 30px auto;
    border: 10px;
    width: 1013px;
    height: 400px;
    background-color: #000000;
    position: relative;
    text-decoration: none;
    transition: transform 0.3s;
    box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 1);
}

.fifFixtureCard:hover {
    transform: scale(1.05);
}

.worldcupimage{
    width: 1013px;
    height: 400px;
    position: relative;
    opacity: 0.3;
}

.argentinalogo{
    width:10%;
    position: relative;
    bottom:323px;
    right: 285px;
}

.francelogo {
    width: 10%;
    position: relative;
    bottom: 323px;
    left:285px;
}

.scoreclass{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom:480px;
}

.finalheading{
    font-size: 35px;
    position: relative;
    bottom: 565px;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    opacity: 0.5;
    
}
.finalheading a{
    text-decoration: none !important;
}
.arScore{
    font-size: 65px;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    right:60px
}
a{
    text-decoration: none;
}

.vs {
    font-size: 33px;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    top:20px;
    color: #bd0000;
}
.frScore {
    font-size: 65px;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    left: 60px
}

.belowtextforfinal{
    position: relative;
    bottom: 473px;
    
}

.belowtextforfinal p{
    color:rgb(255, 255, 255);
    font-size: 17px;
}

.belowtextforfinal span{
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

/* container 4=-p-------------------------------------- */
.hometestcontainer4 {
    justify-content:center ;
    align-items: center;
    text-align: center;
    padding: 36px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.hometestcontainer4 p {
    font-size: 50px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
    font-weight: bolder;
    display: inline-block;
}

.long-card1 {
    margin: 30px auto;
    border: 10px;
    width: 1349px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    height: 100px;
    position: relative;
    background: rgb(16, 16, 16);
    transition: transform 0.3s;
}

.long-card1:hover {
    transform: scale(1.05);
}


.barcalogohome {
    width: 6%;
    position: relative;
    right: 531px;
    top:3px;
}

.reallogohome {
    width: 4.5%;
    position: relative;
    left: 531px;
    top:5px;
}

.card1center-text p {
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: relative;
    bottom: 65px;
    letter-spacing: 5px
}

.c1L1 {
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #bd0000;
}
.c1L2{
   font-size: 25px; 
}

/* this is long card section 2---------------------------------- */

.long-card2 {
    margin: 30px auto;
    border: 10px;
    width: 1349px;
    height: 100px;
    background-color: #000000;
    position: relative;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
}
.long-card2:hover {
    transform: scale(1.05);
}

.intermilanlogohome {
    width: 6.5%;
    position: relative;
    right: 531px;
    top: 6px;
}

.acmilanlogohome {
    width: 4%;
    position: relative;
    left: 531px;
    top: 7px;
}

.card2center-text p {
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: relative;
    bottom: 65px;
    letter-spacing: 5px
}

.c2L1 {
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #bd0000;
}

.c2L2 {
    font-size: 25px;
}


/* this is long card section 3--------------------------------- */

.long-card3 {
    margin: 30px auto;
    border: 10px;
    width: 1349px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    height: 100px;
    background-color: #000000;
    position: relative;
    transition: transform 0.3s;
}
.long-card3:hover {
    transform: scale(1.05);
}
.manutdlogohome {
    width: 6.5%;
    position: relative;
    right: 531px;
    top: 6px;
}

.mancitylogohome {
    width: 6%;
    position: relative;
    left: 531px;
    top: 4px;
}

.card3center-text p {
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: relative;
    bottom: 65px;
    letter-spacing: 5px
}

.c3L1 {
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #bd0000;
}

.c3L2 {
    font-size: 25px;
}

/* container 5---------------------------------------------------- */

.hometestcontainer5 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -31px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.corosel-bg{
    margin: 20px auto;
    border: 10px;
    width: 100%;
    height: 750px;
    /* background: linear-gradient(to right, black, red); */
    background-color: #000000;
    position: relative;
    top:20px;
    transition: transform 0.3s;
} 

.newsposter{
    width:100%;
    opacity: 0.3;
}


/* cards for the news */

.newscards{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:515px;
}


/* news card 1 ----------------------------- */
.newscard1 {
    padding: 20px;
    margin-right: 20px;
    border: none;
    width: 290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
    overflow: hidden;
}

.newscard1:hover{
    transform: scale(1.05);
}


.newsimage1 {
    width: 430px;
    height: 267px;
    border-radius: 40px;
    position: relative;
    right: 77px;
    bottom: 50px;
    object-fit: cover;
    transition: transform 0.3s;
}

.newsimage1:hover {
    transform: scale(1.2);
    /* Reduce opacity when hovered */
}


.insidenews-card1{
    background-color: #ffffff;
    width: 347px;
    height:230px;
    border-radius: 40px;
    position: relative;
    bottom: 79px;
    right: 24px;

}

.insidenews-card1 h1{
    position: relative;
    color: #bd0000;
    top:20px;
    font-size: 28px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.insidenews-card1 p{
    position: relative;
    top: 30px;
    right: 3px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 18px;
    transform: scale(0.9);

}

.newscard1-button{
    background-color: #000000;
    color: #bd0000;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    border: none;
    font-size: 25px;
    border-radius: 40px;
    width: 281px;
    height: 50px;
    position: relative;
    top:43px;

}

.newscard1-button:hover{
    color: #ffffff;
}


/* ----------------------------------------------newscard 2 */

.newscard2 {
    padding: 20px;
    margin-right: 20px;
    border: none;
    width: 290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
    overflow: hidden;
}

.newscard2:hover {
    transform: scale(1.05);
}


.newsimage2 {
    width: 430px;
    height: 267px;
    border-radius: 40px;
    position: relative;
    right: 77px;
    bottom: 50px;
    object-fit: cover;
    transition: transform 0.3s;
}

.newsimage2:hover {
    transform: scale(1.2);
    /* Reduce opacity when hovered */
}


.insidenews-card2 {
    background-color: #ffffff;
    width: 347px;
    height: 230px;
    border-radius: 40px;
    position: relative;
    bottom: 79px;
    right: 24px;

}

.insidenews-card2 h1 {
    position: relative;
    color: #bd0000;
    top: 20px;
    font-size: 28px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.insidenews-card2 p {
    position: relative;
    top: 30px;
    right: 3px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 18px;
    transform: scale(0.9);

}

.newscard2-button {
    background-color: #000000;
    color: #bd0000;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    border: none;
    font-size: 25px;
    border-radius: 40px;
    width: 281px;
    height: 50px;
    position: relative;
    top: 43px;

}

.newscard2-button:hover {
    color: #ffffff;
}


/* ----------------------------------------------newscard 3 */

.newscard3 {
    padding: 20px;
    margin-right: 20px;
    border: none;
    width: 290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
    overflow: hidden;
}

.newscard3:hover {
    transform: scale(1.05);
}


.newsimage3 {
    width: 430px;
    height: 267px;
    border-radius: 40px;
    position: relative;
    right: 77px;
    bottom: 50px;
    object-fit: cover;
    transition: transform 0.3s;
}

.newsimage3:hover {
    transform: scale(1.2);
    /* Reduce opacity when hovered */
}


.insidenews-card3 {
    background-color: #ffffff;
    width: 347px;
    height: 230px;
    border-radius: 40px;
    position: relative;
    bottom: 79px;
    right: 24px;

}

.insidenews-card3 h1 {
    position: relative;
    color: #bd0000;
    top: 20px;
    font-size: 28px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.insidenews-card3 p {
    position: relative;
    top: 30px;
    right: 3px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 18px;
    transform: scale(0.9);

}

.newscard3-button {
    background-color: #000000;
    color: #bd0000;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    border: none;
    font-size: 25px;
    border-radius: 40px;
    width: 281px;
    height: 50px;
    position: relative;
    top: 43px;

}

.newscard3-button:hover {
    color: #ffffff;
}


/* ----------------------------------------------newscard 4 */

.newscard4 {
    padding: 20px;
    margin-right: 20px;
    border: none;
    width: 290px;
    height: 0px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    bottom: 100px;
    box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -webkit-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
        -moz-box-shadow: 6px 7px 5px 0px rgba(234, 0, 0, 1);
    transition: transform 0.3s;
    overflow: hidden;
}

.newscard4:hover {
    transform: scale(1.05);
}


.newsimage4 {
    width: 430px;
    height: 267px;
    border-radius: 40px;
    position: relative;
    right: 77px;
    bottom: 40px;
    object-fit: cover;
    transform: scale(0.9);
    transition: transform 0.3s;
}

.newsimage4:hover {
    transform: scale(1.2);
    /* Reduce opacity when hovered */
}


.insidenews-card4 {
    background-color: #ffffff;
    width: 347px;
    height: 230px;
    border-radius: 40px;
    position: relative;
    bottom: 79px;
    right: 24px;

}

.insidenews-card4 h1 {
    position: relative;
    color: #bd0000;
    top: 20px;
    font-size: 28px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.insidenews-card4 p {
    position: relative;
    top: 30px;
    right: 3px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 18px;
    transform: scale(0.9);

}

.newscard4-button {
    background-color: #000000;
    color: #bd0000;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    border: none;
    font-size: 25px;
    border-radius: 40px;
    width: 281px;
    height: 50px;
    position: relative;
    top: 43px;

}

.newscard4-button:hover {
    color: #ffffff;
}




/* ----------------------------------------------scrolling animatiom */

::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #000000;
    /* Color of the thumb */
    border-radius: 6px;
    /* Rounded corners for the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #bd0000;
    /* Color of the track */
}