@font-face {
    font-family: 'DAGGERSQUARE OBLIQUE';
    src: url('../fonts/DAGGERSQUARE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.leaugepage-Container {
    background-color: #0e0e0e;
    max-height: 100vh;
    overflow-y: auto;
}

.leauge-navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 999;
    left: 0;
}

.leauge-left-logo {
    font-size: 24px;
    padding-left: 20px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.leauge-righthome-menu {
    list-style: none;
    display: flex;
    padding-right: 20px;
    gap: 20px;
}

.leauge-navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.leauge-navbar a:hover {
    color: rgb(255, 0, 0);
}

.leauge-righthome-menu li {
    margin-right: 20px;
}



/* ------------------------------------------Container 1 starts here */
.leauge-container-1{
    margin-top: 57px;
    display: flex;
    justify-content: center;
    height: 569px;
}

.leauge-container-1-left{
    flex-basis: 50%;
}

.leauge-container-1-left h1{
    position: relative;
    left: 55px;
    top:131px;
    color: #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    font-size: 50px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 73px;
}

.red-text{
    color: #bd0000;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 3px;
}


.leauge-container-1-right{
    flex-basis: 50%;
}

.leauge-art-image{
    position: relative;
    top: 20px;
    left: 209px;
    width:410px;
    height: 516px;
}

/* ------------------------------------------Container 2 starts here */

.leauge-container-2{
    height: 2500px;
}

.leauge-container-2-heading{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 20p;
}
.leauge-container-2-heading h1{
    color:#ffffff;
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;

}
.leauge-cards{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.leauge-card-1{
    position: sticky;
    display: inline-block;
    background-color: #252525;
    width: 1000px;
    margin-bottom: 80px;
    margin-top: 100px;
    border-radius: 40px;
    height: 400px;
    top:100px;
}

.leauge-card-1 h1 {
    color: white;
}

.leauge-card-2 {
    position: sticky;
    background-color: #ffffff;
    width: 1000px;
    border-radius: 40px;
    height: 400px;
    margin-bottom: 80px;
    top:120px;
}

.leauge-card-3 {
    position: sticky;
    background-color: #ff0000;
    width: 1000px;
    margin-bottom: 80px;
    border-radius: 40px;
    height: 400px;
    top:140px;
}

.leauge-card-4 {
    position: sticky;
    background-color: #00ff00;
    width: 1000px;
    margin-bottom: 80px;
    border-radius: 40px;
    height: 400px;
    top: 160px;
}
.leauge-card-5 {
    position: relative;
    background-color: #ffd000;
    width: 1000px;
    border-radius: 40px;
    height: 400px;
    bottom: 140px;    
}

.leauge-footer{
    height: 500px;
    background-color: #bd0000;
    
}
