@font-face {
    font-family: 'DAGGERSQUARE OBLIQUE';
    src: url('../fonts/DAGGERSQUARE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}
.admin-main-container {
    background-color: #ec0000;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.admin-1-row {
    width: 100%;
    height: 650px;
    background-color:#0e0e0e;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.admin-1-row-left{
    width: 70%;
    position: relative;
    top:150px;
    padding-left: 50px;
}

.lineGraph {
    width: 90%;
        box-shadow: -10px -10px 15px #020202,
                10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}


.admin-1-row-right{
    width:30%;
    position: relative;
    height: 650px;
    top: 150px;
    padding-right: 50px;
}


.piechart-cont {
    width: 100%;
    position: relative;
    left: 20px;
            box-shadow: -10px -10px 15px #020202,
                    10px 10px 5px 0px rgba(255, 0, 0, 0.75);
}


.admin-2-row {
    width: 100%;
    height: 400px;
    background-color: #0e0e0e;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.create-player{
    background-color: #252525;
    width:45%;
    height:300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
                 10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.create-player:hover{
    transform: scale(1.03);
}

.create-player-cover{
    width:100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.card-bg-admin{
    opacity: 0.1;
    width:100%;
    position: relative;
    bottom:300px;
}

.create-player-cover h1{
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    left:20px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.createPlayer-img{
transform: scale(0.9);
z-index: 1;
position: relative;
right:10px;
box-shadow: 0px 0px 15px 5px #020202;
}


/* edit player card-------------------------------------------- */


.edit-player {
    background-color: #252525;
    width: 45%;
    height: 300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
        10px 10px 5px 0px rgba(255, 0, 0, 0.75);
        transition: transform 0.3s ease;
}

.edit-player:hover {
    transform: scale(1.03);
}

.edit-player-cover {
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.edit-player-cover h1 {
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    right: 80px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.editPlayer-img {
    transform: scale(0.9);
    z-index: 1;
    position: relative;
    left: 95px;
    box-shadow: 0px 0px 15px 5px #020202;
}

.card-bg-edit-admin {
    opacity: 0.1;
    width: 100%;
    position: relative;
    bottom: 300px;
}



/* ///// 2nd row starts here------------------------- */
.admin-3-row {
    width: 100%;
    height: 400px;
    background-color: #0e0e0e;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.create-team {
    background-color: #252525;
    width: 45%;
    height: 300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
        10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.create-team:hover {
    transform: scale(1.03);
}

.create-team-cover {
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.create-team-cover h1 {
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    left: 20px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.createTeam-img {
    transform: scale(0.9);
    z-index: 1;
    position: relative;
    right: 10px;
    box-shadow: 0px 0px 15px 5px #020202;
}

.create-team-bg {
    opacity: 0.1;
    width: 100%;
    position: relative;
    bottom: 300px;
}



/* //////EDit team------------------------------------------- */
.edit-team {
    background-color: #252525;
    width: 45%;
    height: 300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
        10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.edit-team:hover {
    transform: scale(1.03);
}

.edit-team-cover {
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.edit-team-cover h1 {
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    right: 95px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.editTeam-img {
    transform: scale(0.9);
    z-index: 1;
    position: relative;
    left: 115px;
    box-shadow: 0px 0px 15px 5px #020202;
}

.edit-team-bg {
    opacity: 0.1;
    width: 100%;
    position: relative;
    bottom: 300px;
}

/* ///// 3rd row starts here------------------------- */
.admin-4-row {
    width: 100%;
    height: 400px;
    background-color: #0e0e0e;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.newsletter-card {
    background-color: #252525;
    width: 45%;
    height: 300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
        10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.newsletter-card:hover {
    transform: scale(1.03);
}

.newsletter-cover {
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.newsletter-cover h1 {
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    right: 85px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.newsletter-img {
    transform: scale(0.9);
    z-index: 1;
    position: relative;
    left: 100px;
    box-shadow: 0px 0px 15px 5px #020202;
}

.create-team-bg {
    opacity: 0.1;
    width: 100%;
    position: relative;
    bottom: 300px;
}



/* //////EDit team------------------------------------------- */
.contact-faq {
    background-color: #252525;
    width: 45%;
    height: 300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
        10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.contact-faq:hover {
    transform: scale(1.03);
}

.contact-faq-cover {
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.contact-faq-cover h1 {
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    right: 5px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.contact-faq-img {
    transform: scale(0.9);
    z-index: 1;
    position: relative;
    left: 15px;
    box-shadow: 0px 0px 15px 5px #020202;
}

.edit-team-bg {
    opacity: 0.1;
    width: 100%;
    position: relative;
    bottom: 300px;
}

/* ///// 4TH row starts here------------------------- */
.admin-5-row {
    width: 100%;
    height: 400px;
    background-color: #0e0e0e;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.account-card {
    background-color: #252525;
    width: 45%;
    height: 300px;
    overflow: hidden;
    box-shadow: -10px -10px 15px #020202,
        10px 10px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.account-card:hover {
    transform: scale(1.03);
}

.account-cover {
    width: 100%;
    height: 300px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.account-cover h1 {
    font-size: 70px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #ffffff;
    position: relative;
    right: 50px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.6);
}

.account-img {
    transform: scale(0.9);
    z-index: 1;
    position: relative;
    left: 60px;
    box-shadow: 0px 0px 15px 5px #020202;
}

.create-team-bg {
    opacity: 0.1;
    width: 100%;
    position: relative;
    bottom: 300px;
}