.admin-navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 999;
    left: 0;
}

.admin-navbar h1 {
    font-size: 25px;
    margin-left: 20px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    letter-spacing: 2px;
}

.search-navbar-admin {
    height: 35px;
    width: 300px;
    background-color: #000000;
    position: relative;
    right: 360px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    border: 1px solid #ffffff;
    box-shadow: 4px 2px 5px 0px rgba(255, 0, 0, 0.75);
    -webkit-box-shadow: 4px 2px 5px 0px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 5px 0px rgba(255, 0, 0, 0.75);
    transition: transform 0.3s ease;
}

.admin-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: #ffffff;
    margin-right: 150px;
}

.adminpic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-content {
    position: relative;
}



.dropdown-content button {
    background-color: #000000;
    width: 174px;
    height: 39px;
    color: #ffffff;
    border-right: 1px solid #ffffff64;
    border-bottom: 1px solid #ffffff64;
    border-top: none;
    border-left: none;
    position: relative;
    top: 44px;
    right: 105px;
    white-space: nowrap;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.admin-profile-picture h1 {
    font-size: 15px;
    top: 15px;
    right: 25px;
    position: absolute;
    white-space: nowrap;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
}

.search-navbar-admin:focus {
    transform: scale(0.98);
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: 2px 1px 5px 0px rgba(255, 0, 0, 0.75);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 2px 1px 5px 0px rgba(255, 0, 0, 0.75);
}

.heading-admin h1 {
    width: 500px;
    color: #ffffff;
    position: relative;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    top: 70px;
    left: 50px;
    z-index: 1;
}

.subheading {
    font-size: 20px;
    font-family: 'DAGGERSQUARE OBLIQUE', sans-serif;
    color: #bd0000;
}